.home_container {
  margin: 25px 75px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 35px;
  font-weight: 600;
}

.greeting {
  font-size: 7rem;
}

.intro {
  font-size: 2.5rem;
}

.little {
  font-size: 1.5rem;
}

.clr_red {
  color: #ff5a6b;
  font-size: 3.5rem;
}

.clr_yellow {
  color: #eeb213;
  font-size: 3.5rem;
}

.little .clr_yellow {
  font-size: 1.5rem;
}

.work {
  font-size: 3.5rem;
  margin-left: 50px;
}

.btn {
  position: relative;
  border: none;
  background: none;
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: 600;
  color: #ff5a6b;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  color: #ff5a6b;
}

.btn::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #ff5a6b;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.btn:hover::before {
  transform: scaleX(1);
}

.contact {
  font-size: 2rem;
  margin-left: 400px;
}

.contact .btn {
  color: #eeb213;
  font-size: 3rem;
}

.contact .btn:hover {
  color: #eeb213;
}

.contact .btn::before {
  background-color: #eeb213;
}
