.work_container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 200px) / repeat(4, 200px);
  margin: 25px auto;
}

.radio {
  position: relative;
  grid-area: 1 / 1 / span 2 / span 2;
}

.radio img {
  position: absolute;
  width: 400px;
  height: 400px;
  cursor: pointer;
}

.weather {
  position: relative;
  grid-area: 1/3;
}

.todo {
  position: relative;
  grid-area: 1/4;
}

.world_clock {
  position: relative;
  grid-area: 2/3;
}

.blackjack {
  position: relative;
  grid-area: 2/4;
}

.chat {
  position: relative;
  grid-area: 3 / 1 / span 3 / span 3;
}

.chat img {
  position: absolute;
  width: 600px;
  height: 400px;
  cursor: pointer;
}

.todo img,
.world_clock img,
.blackjack img,
.weather img {
  position: absolute;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.work_container div img {
  opacity: 1;
}

.work_container div img:hover {
  opacity: 0.3;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}

.title {
  visibility: hidden;
}

.work_container div:hover .title {
  visibility: visible;
  transition-duration: 0.55s;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .work_container {
    display: grid;
    grid-gap: 2px;
    justify-content: center;
    grid: repeat(4, 75px) / repeat(4, 75px);
    margin: 25px 50px;
  }

  .radio img {
    position: absolute;
    width: 150px;
    height: 150px;
    cursor: pointer;
  }

  .chat img {
    position: absolute;
    width: 225px;
    height: 150px;
    cursor: pointer;
  }

  .todo img,
  .world_clock img,
  .blackjack img,
  .weather img {
    position: absolute;
    width: 75px;
    height: 75px;
    cursor: pointer;
  }

  .work_container div:hover .title {
    transition-duration: 0.4s;
    font-size: 0.8rem;
    text-align: center;
    position: relative;
    top: 20%;
  }
}
