.work_container {
  display: grid;
  grid-gap: 5px;
  justify-content: center;
  grid: repeat(4, 200px) / repeat(4, 200px);
  margin: 25px auto;
}

.radio {
  grid-area: 1 / 1 / span 2 / span 2;
  background-image: url(../../assets/Radio.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.pig_dice {
  grid-area: 1/3;
  background-image: url(../../assets/PigDice.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.todo {
  grid-area: 1/4;
  background-image: url(../../assets/toDo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.world_clock {
  grid-area: 2/3;
  background-image: url(../../assets/WorldClock.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.blackjack {
  grid-area: 2/4;
  background-image: url(../../assets/Blackjack.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.chat {
  grid-area: 3 / 1 / span 3 / span 3;
  background-image: url(../../assets/Chat.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.weather {
  grid-area: 3/4;
  background-image: url(../../assets/weather.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.work_container div {
  opacity: 1;
}

.work_container div:hover {
  opacity: 0.3;
  transition: opacity 0.55s ease-in-out;
  -moz-transition: opacity 0.55s ease-in-out;
  -webkit-transition: opacity 0.55s ease-in-ou;
}

.img_description {
  visibility: hidden;
}

.work_container div:hover .img_description {
  visibility: visible;
  transition-delay: 0s;
  transition-duration: 0.55s;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  top: 35%;
}
